services:
  sonarqube:
    image: sonarqube:community
    container_name: sonarqube_tool
    ports:
      - "9000:9000"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/log
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins_tool
    privileged: true
    user: root
    ports:
      - "8082:8080"
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  jenkins_data:
