services:
  mysql:
    image: mysql:8.0
    container_name: mysql_${ENV_NAME}
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: hospital_${ENV_NAME} # DB única por ambiente
    ports:
      - "${DB_PORT}:3306" # Dev: 3306, UAT: 3307, Prod: 3308
    volumes:
      - mysql_data_${ENV_NAME}:/var/lib/mysql
      

  backend:
    build: ./sistema_adfs
    container_name: backend_${ENV_NAME}
    ports:
      - "${BE_PORT}:80" # Dev: 8080, UAT: 8081, Prod: 80
    environment:
      DB_HOST: mysql
      DB_NAME: hospital_${ENV_NAME}
      DB_USER: root
      DB_PASS: rootpassword
    depends_on:
      - mysql
    volumes:
      - ./sistema_adfs:/var/www/html  # Sincroniza código del backend

  frontend:
    build: ./HOSPITAL_SYSTEM_REACT
    container_name: frontend_${ENV_NAME}

    ports:
      - "${FE_PORT}:5173" # Dev: 5173, UAT: 5174, Prod: 3000
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    volumes:
      - ./HOSPITAL_SYSTEM_REACT:/app # Sincroniza tu código local con /app
      - /app/node_modules           # Protege los módulos instalados en el contenedor


volumes:
  # Declarar cada volumen dinámico
  mysql_data_dev:
  mysql_data_uat:
  mysql_data_prod: